.repliedDiv{
    width:auto;
    padding: 5px;
    border: 2px solid #033859;
    border-radius: 10px;
    margin: 5px 10px;
}
.post h4{
    padding-left: 10px;
}
.post p{
    padding-left: 10px;
}
.post h6{
    padding-left: 10px;
}
.post img{
    padding-right: 10px;
}
.border {
    border: 2px solid #033859!important;
}